// 宽高
.size(@width, @height) {
  width: @width;
  height: @height;
}

// 相对定位
.relative {
  position: relative;
}

// 绝对定位
.absolute {
  position: absolute;
}

// 垂直居中
.center-vertically {
  display: flex;
  align-items: center;
}

// 水平居中
.center-horizontally {
  display: flex;
  justify-content: center;
}

// 水平垂直居中
.center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 背景颜色
.bg-color(@color) {
  background-color: @color;
}

// 文字颜色大小
.text-color-size(@color, @size) {
  color: @color;
  font-size: @size;
}

// 圆角
.border-radius(@radius) {
  border-radius: @radius;
}

// 边框
.border(@width, @style, @color) {
  border: @width @style @color;
}
